gradio==4.44.0
tensorflow==2.15.0
librosa==0.10.2
numpy==1.26.4
matplotlib==3.8.4
Pillow==10.4.0
soundfile==0.12.1

# Pre-trained baseline (Wav2Vec2)
transformers==4.44.2
torch==2.2.2
torchaudio==2.2.2
